<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://myco.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-blu-011.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>myco</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$myco</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SPA_Cloud_SampleContext" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:pi21hcg7m8.database.windows.net,1433;Initial Catalog=contactDB;User ID=contactmanageradmin@pi21hcg7m8;Password=Pass@word1" Name="Data Source=tcp:pi21hcg7m8.database.windows.net,1433;Initial Catalog=contactDB;User Id=contactmanageradmin@pi21hcg7m8;Password=Pass@word1" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="SPA_Cloud_Sample.Models.SPA_Cloud_SampleContext, SPA_Cloud_Sample" MigrationConfiguration="SPA_Cloud_Sample.Migrations.Configuration, SPA_Cloud_Sample" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ContactManagerContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:pi21hcg7m8.database.windows.net,1433;Initial Catalog=contactDB;User ID=contactmanageradmin@pi21hcg7m8;Password=Pass@word1" Name="Data Source=tcp:pi21hcg7m8.database.windows.net,1433;Initial Catalog=contactDB;User Id=contactmanageradmin@pi21hcg7m8;Password=Pass@word1" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\v11.0;AttachDbFilename=|DataDirectory|ContactManagerContext-20140317133115.mdf;Initial Catalog=ContactManagerContext-20140317133115;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ContactManagerContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\v11.0; Initial Catalog=ContactManagerContext-20140317133115; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|ContactManagerContext-20140317133115.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ContactManagerContext-Web.config Connection String">
      <ParameterValue>data source=tcp:pi21hcg7m8.database.windows.net,1433;initial catalog=contactDB;user id=contactmanageradmin@pi21hcg7m8;password=Pass@word1;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SPA_Cloud_SampleContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:pi21hcg7m8.database.windows.net,1433;Initial Catalog=contactDB;User Id=contactmanageradmin@pi21hcg7m8;Password=Pass@word1</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>